#estimates-paginate
  = paginate @invoices, :remote => true
.row
  .col-md-7.col-md-offset-2
    .call-to-action-invoice-estimate
      = link_to 'Create Estimate', new_estimate_path(kind:  'estimate'), class: 'btn-success btn'
      / = link_to 'Make Estimate', new_billing_doc_path(kind:  'estimate'), class: 'btn-info btn'
      %br
    .invoices
      %h3
        #invoices-title
          Estimates
      %table#invoices-index-table.table-striped.table-hover
        %thead.invoice-index-table-header
          %th= link_to "Estimate Date", "#", class: 'due-date-sort forward', data: {type: 'contacts', category: 'invoices'}
          %th Title
          %th Note
          %th= link_to " Contact(s)", "#", class: 'contact-sort forward', data: {type: 'contacts', category: 'invoices'}
          %th= link_to 'Total', '#', class: 'total-sort forward', data: {type: 'total', category: 'invoices'}
        %tbody#invoice-table-entries
          = render @invoices
        / -@invoices.each do |invoice|
        /   %tr.line-item-show-row#invoices-row
        /     %td= invoice.due_date
        /     %td= link_to invoice.title, billing_doc_path(invoice)
        /     %td= invoice.note
        /     %td
        /       - invoice.contacts.each do |contact|
        /         = link_to(contact.name, contact_path(contact))
        /     %td= invoice.total
        /     %td= invoice.state