#estimates-paginate
  = paginate @invoices, :remote => true
.row
  .col-md-10.col-md-offset-1
    .call-to-action-invoice-estimate
      = link_to 'Create Estimate', new_group_estimate_path(current_user.group.id), class: 'btn-success btn btn-lg'
      %br
    .invoices
      %h2
        #invoices-title
          = "#{current_user.group.name} Estimates"
      %table#invoices-index-table.table-striped.table-hover
        %thead.invoice-index-table-header
          %th= link_to "Estimate Date", sort_group_invoices_path(current_user.group.id), class: 'due-date-sort forward', data: {type: 'contacts', category: 'invoices'}
          %th Subject
          %th Note
          %th= link_to " Contact(s)", sort_group_invoices_path(current_user.group.id), class: 'contact-sort forward', data: {type: 'contacts', category: 'invoices'}
          %th= link_to 'Total ($)', sort_group_invoices_path(current_user.group.id), class: 'total-sort forward', data: {type: 'total', category: 'invoices'}
        %tbody#invoice-table-entries
          = render @invoices