#invoices-paginate
  = paginate @invoices, :remote => true
.row
  .col-md-10.col-md-offset-1
    .call-to-action-invoice-estimate
      = link_to "Create #{@kind}", group_new_billing_doc_path(current_user.group.id, @kind), class: 'btn-success btn btn-lg'
      %br
    .invoices
      %h2
        #invoices-title
          = "#{current_user.group.name} #{@kind.pluralize.capitalize}"
      = render partial: 'index_table'
