.row
  .col-md-6.col-md-offset-3
    %h2= "New Estimate"
    .form-group
      = form_for @invoice, url: group_billing_docs_kind_path(current_user.group, 'estimate') do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: "form-control"
          = f.label :note
          = f.text_area :note, :rows => 4,  class: "form-control"
          = f.hidden_field :kind, value: 'estimate'
          %br
        .form-group
          = fields_for(@invoices_contacts) do |bd|
            = bd.label :name, "Contact Name <em>(Cmd+Click)</em>".html_safe
            #new-contact-estimate-option
              = collection_select(:invoice, :id, @contacts, :id, :name, {:selected => @invoice.contacts.map{|i| i.id}}, {:prompt => 'cmd click', :multiple => true} )
              = link_to "New Contact?", new_group_contact_path(current_user.group), class: "new-contact-estimate-form"
          #contact-addition
        %h4.line-item-title Line Items
        = link_to 'Add Line Item', '#', class: 'btn btn-info btn-xs add-line-item'
        .form-group
          %table#line-items-table
            %tr
              %th note
              %th quantity
              %th price
              %th total
              %th remove
            =f.fields_for :line_items do |line_item|
              %tr.line-item-row
                %td= line_item.text_field :note, :rows => 2, :size => "60x10", class: 'note-field'
                %td= line_item.text_field :quantity, :size => "10x10", class: 'quantity-field'
                %td= line_item.text_field :price, :size => "10x10", class: 'price-field'
                %td= text_field_tag "total", nil, :size => 10, class: "total-field"
                %td= image_tag "http://help.eclipse.org/kepler/topic/org.eclipse.cdt.doc.user/images/icon_remove.png", class: 'remove-button-table remove-line-item'
                %br
        #sum
        .form-group
          .post-buttons
            = f.submit "Create Estimate", :class => 'btn btn-success create-estimate-button', data: {id: @invoice.id, group_id: current_user.group.id}
