#invoices-paginate
  = paginate @invoices, :remote => true
.row
  .col-md-7.col-md-offset-2
    .call-to-action-invoice-estimate
      = link_to 'Create Invoice', new_invoice_path(kind:  'invoice'), class: 'btn-success btn'
      %br
    .invoices
      %h3
        #invoices-title
          Invoices
      %table#invoices-index-table.table-striped.table-hover
        %thead.invoice-index-table-header
          %th= link_to 'Due', '#', class: 'due-date-sort forward', data: {type: 'due_date', category: 'invoices'}
          %th Title
          %th Note
          %th= link_to " Contact(s)", "#", class: 'contact-sort forward', data: {type: 'contacts', category: 'invoices'}
          %th= link_to 'Total', '#', class: 'total-sort forward', data: {type: 'total', category: 'invoices'}
          %th= link_to 'Status', '#', class: 'status-sort forward', data: {type: 'state', category: 'invoices'}
        %tbody#invoice-table-entries
          = render @invoices