.row
  .col-md-7.col-md-offset-2
    = link_to 'Edit', edit_group_invoice_path(current_user.group.id, @invoice.id), class: 'edit-invoice'
    .billing-doc
      .billing-doc-show-title
        %h2= @invoice.kind.capitalize
        = link_to 'Mail It', group_invoice_path(current_user.group.id, @invoice), class: "btn btn-default show-mailer-button"
        = link_to 'Paid?', paid_invoice_path, class:   "btn btn-default paid-invoice", data: {id: @invoice.id}
      .billing-doc-header
        %p= "To : #{@invoice.contacts.map{|i| i.name}.join(' , ')}"
        %p= "From : #{current_user.email}"
        %p= "Date : #{@invoice.created_at.strftime("%m-%d-%Y")}"
        %p= "Subject : #{@invoice.title}"
      .show-description
        %p= "description - #{@invoice.note}"
      %table#line-items-show-table
        %tr.table-show-header
          %th note
          %th quantity
          %th price
          %th total
        -@invoice.line_items.each do |line_item|
          %tr.line-item-show-row
            %td= line_item.note
            %td= line_item.quantity
            %td= line_item.price
            %td= line_item.price * line_item.quantity
            %br
      .total-cost
        = "Total Cost: $#{@invoice.total.round(2)}"
    = link_to 'See All Invoices', group_invoices_path