%nav.navbar.navbar-inverse#sherman-nav{role: 'navigation'}
  .collapse.navbar-collapse.navbar-ex1-collapse#navbar-content
    .navbar-header
      = link_to('Sherman', root_path, html_options = {:class => 'navbar-brand'})
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          = link_to "Manage Contacts", group_contacts_path(current_user.group.id)
        %li
          =link_to 'Invoices', group_billing_docs_kind_path(current_user.group.id, 'invoice')
        %li
          =link_to 'Estimates', group_billing_docs_kind_path(current_user.group.id, 'estimate')
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            ="#{current_user.email}"
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to 'Edit profile', edit_user_registration_path(current_user.group.id)
            %li
              = link_to "Sign Out", destroy_user_session_path(current_user.group.id), method: :delete
      -else
        %li
          = link_to "Sign up", new_user_registration_path
        %li
          = link_to "Sign In", new_user_session_path
