%nav.navbar.navbar-inverse{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to('Sherman', root_path, html_options = {:class => 'navbar-brand'})
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to "+ Sherman Collabo", "#"
      - if user_signed_in?
        %li
          =link_to 'Invoices', billing_docs_path
        %li
          =link_to 'Estimates', billing_docs_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            ="#{current_user.email}"
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to 'Edit profile', edit_user_registration_path
            %li
              = link_to "Sign Out", destroy_user_session_path, method: :delete
      -else
        %li
          = link_to "Sign up", new_user_registration_path
        %li
          = link_to "Sign In", new_user_session_path
