.added-contact-image
  = image_tag @contact.photo
%h2
  = "You sucessfully added #{@contact.name}."
.added-contact-show-link
  = link_to( "#{@contact.name} page", group_contact_path(current_user.group.id, @contact)).html_safe