.row
  .col-md-10.col-md-offset-1
    .add-contact-button
      = link_to "Add Contact", new_contact_path, title: 'Add Contact', data: {gmodal: true}, class: 'btn btn-success btn-lg'
    #contact
      %h2#contact-header
        Top Contacts
      = render partial: 'top_contacts'
      %h2#contact-header
        All Contacts
      %table#contact-table.table-striped.table-hover
        %thead
          %th{colspan: "2"} name
          %th{colspan: "2"}= link_to " Company", "#", class: 'company-sort forward', data: {type: 'company', category: 'contacts'}
          %th{colspan: "2"} email
          %th{colspan: "2"} phone-number
        %tbody#contacts-table-entries
          = render @contacts
      #contacts-paginate
        = paginate @contacts, :remote => true
