.row
  .col-md-6.col-md-offset-3
    #create.form-group
      = form_for @contact, :html => { :multipart => true }, :remote => true do |f|
        = f.text_field :name, placeholder: "name", class: "form-control"
        = f.text_field :email, placeholder: "email", class: "form-control"
        = f.telephone_field :phone_number, placeholder: 'phone number'
        = f.fields_for :company do |company|
          =company.text_field :name, placeholder: "company name", class: "form-control"
        = f.text_field :job_title, placeholder: "job title", class: "form-control"
        = f.text_field :address, placeholder: "address", class: "form-control"
        = f.text_field :twitter_handle, placeholder: "twitter handle", class: "form-control"
        -if @contact.new_record?
          = f.label :photo, class: "add-contact-photo-label"
        -else
          =f.label :photo, as: "do nothing to keep current photo", class: "add-contact-photo-label"
        = f.file_field :photo

        %br
        .form-group
          -if @contact.new_record?
            = f.submit('Add Contact', :class => 'btn btn-success create-contact-button')
          -else
            = f.submit('Edit Contact', :class => 'btn btn-success create-contact-button')
  .col-md-3
.row
  .col-md-8.col-md-offset-2
    #added-contact
  .col-md-2