.row
  .col-md-7.col-md-offset-2
    =link_to 'See All Contacts', group_contacts_path(current_user.group.id)
    #basic-bio-container
      #contact-pic
        = image_tag @contact.photo.url
      #contact-name
        %h2="#{@contact.name.titleize}"
        = link_to('edit', edit_group_contact_path(current_user.group.id, @contact), class: "edit-contact-form")
      %ul.contact-details
        %li
          %b
            Email :
          = best_in_place @contact, :email, :path => group_contact_path(current_user.group, @contact)
        %li
          %b
            Job Title :
          = best_in_place @contact, :job_title, :path => group_contact_path(current_user.group, @contact)
          at
          #company-biz
            = link_to @contact.company.name, new_company_path, class: 'contact-show-company', data: {company_id: @contact.company.id, contact_id: @contact.id}
        %li
          %b
            Phone Number :
          = best_in_place @contact, :phone_number, :path => group_contact_path(current_user.group, @contact)

        %li
          %b
            Website :
          = best_in_place @contact, :website, :path => group_contact_path(current_user.group, @contact)
        %li
          %b
            Address :
          = best_in_place @contact, :address, :path => group_contact_path(current_user.group, @contact)
        %li
          %b
            Twitter Handle
          = best_in_place @contact, :twitter_handle, :path => group_contact_path(current_user.group, @contact)

