!!!
%html
  %head
    %title Sherman
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #container
      = render 'shared/nav'
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      = yield
      = render 'shared/modal'
      .clearfix
      .navbar.navbar-default#footer
        .container
          %h2.subvrt-header
            = link_to 'Subvrt', "http://subvrt.com"
          %h4.all-rights-reserved= "#{Time.now.year} All Rights Reserved"